body{
    margin: 10px;
    padding: 0px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    background: #f0f0f0
}


/*--TOP CAROUSEL SECTION--*/
.carousel{
    background: #d6e8ff;
}

.carousel-inner{
    padding-left: 20px;
    background: none;
}
.carousel-item{
    padding-bottom: 0;
}
.carousel_img1{
    text-align: center;
}
.carousel-inner h1, .carousel-inner h3{
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.carousel-inner p{
    color: #000000;
    font-size: 18px;
    font-style: italic;
    text-transform:capitalize;

}
.carousel_text{
    text-align: left;
    padding-left: 20px;
}
.carousel-btn .btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background: none;
    border-color: #004AAD;
    color: #004AAD;
}
.carousel-btn .btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
/*--END OF TOP SECTION--*/


/*--SECTION 2 About Us Grid--*/
.about-grid{
    background: #ffffff;
}
.about-sec{
   padding: 20px;
}
.about-sec h6{
    color: red;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
}
.about-sec h4{
    color: #004AAD;
    font-size: 40px;
    font-weight: 900;
}
.about-sec p{
    text-align: justify;
    margin-top: 20px;
}

.aboutus-btn .btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background: none;
    border-color: #004AAD;
    color: #004AAD;
}

.aboutus-btn .btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
.abt-us-img img{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*--END OF SECTION 2 WBC GRID--*/

/*-----About Us Page----*/
#about-us-page{
    margin: 0;
    padding: 0;
}
.about-us-page .about-sec{
    background: #d6e8ff;
    padding: 20px;
}

.founder-sec{
    background: #ffffff;
    padding: 20px;
}
.founder-text h2{
    color: #004AAD;
    font-size: 42px;
    font-weight: 900;
    text-align: center;
}
.about-founder{
    padding-top: 10px;
}
.founder-text p{
    text-align: justify;
}
.founder-text .founder-img img{
    width: 100%;
    border-radius: 10px;
}
.abt-us{
    background: #d6e8ff;
}
.abt-us-title h3{
    color: #004AAD;
    font-size: 42px;
    font-weight: 900;
}
.abt-us-title h3::after{
    content: '';
    background: #004AAD;
    display: block;
    height: 3px;
    max-width: 480px;
    margin: 10px auto 5px
}
#abt-us .col-lg-4{
    width: 30%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
    background: #d3e6ff;
    border-radius: 10px;
    padding: 20px 20px;
    margin-left: 25px;
}
.abt-icon {
    position: relative;
}

.abt-icon img {
    width: 30%;
    margin-bottom: 20px;
    display: inline-block;
}
.abt-wrap {
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
    background: #ffffff;
    border-radius: 10px;
    padding: 50px 30px;
    position: relative;
    border: 1px solid #e6e6e6;
}
.abt-wrap h4{
    font-weight: 600;
}
/*--------OUR SERVICES PAGE---------*/
.service-grid {
    background: #d3e6ff;
}

.service-title h3 {
    position: relative;
    display: inline-block;
    color: #004AAD;
    font-size: 42px;
    font-weight: 900;
}

.service-title h3::after {
    content: '';
    background: #004AAD;
    display: block;
    height: 3px;
    width: 280px;
    margin: 10px auto 5px
}

.service-icon {
    position: relative;
}

.service-icon i {
    font-size: 40px;
    color: red;
    margin-bottom: 20px;
    display: inline-block;
}
.service-wrap:hover {
    background: #004AAD;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
}

.service-wrap:hover:before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    content: "";
    top: 0;
    opacity: 1;
}

.service-wrap:hover h4,
.service-wrap:hover p,
.service-wrap:hover li{
    color: #fff;
}

.service-wrap h4 {
    font-weight: 600;
    color: #1e2331;
    margin-bottom: 17px;
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
    text-decoration: underline;
}

.service-wrap a {
    color: red;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

.service-wrap {
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
    background: #ffffff;
    border-radius: 10px;
    padding: 50px 30px;
    position: relative;
    border: 1px solid #e6e6e6;
}

.service-wrap p, li {
    color: #3b3b3b;
    font-size: 16px;
    text-align: left;
}

.service-wrap:hover h4,
.service-wrap:hover p {
    color: #fff;
}
/*--------END OF OUR SERVICES PAGE---------*/

/*------WHY US------*/
.why-us{
    background: #ffffff;
    padding: 20px;
}
.why-us-title h3{
    color: #004AAD;
    font-size: 42px;
    font-weight: 900;
}
.why-us-title h3::after{
    content: '';
    background: #004AAD;
    display: block;
    height: 3px;
    max-width: 480px;
    margin: 10px auto 5px
}
#why-us .col-lg-4{
    width: 30%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
    background: #d3e6ff;
    border-radius: 10px;
    padding: 20px 20px;
    /* margin-right: 5px; */
    margin-left: 25px;
}
.why-icon {
    position: relative;
}

.why-icon i {
    font-size: 40px;
    color: red;
    margin-bottom: 20px;
    display: inline-block;
}
.why-wrap {
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
    background: #ffffff;
    border-radius: 10px;
    padding: 50px 30px;
    position: relative;
    border: 1px solid #e6e6e6;
}

/*------CONTACT US------*/
#enquiry_form{
    background: #d3e6ff;
}
.enquiry_formheading {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #e30000;
    padding-top: 20px;
    }
    
    form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
    }
    input, textarea {
    display: block;
    background-color: transparent;
    border: 1px solid #5B5B5B !important;
    border-radius: 5px !important;
    outline: 0px;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    color: #000000;
    padding-left: 10px;
    }
    input:focus, textarea:focus {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.19);
    }
    form button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border-color: #004AAD;
    color: #004AAD;
    }
    form button:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
    }
    textarea {
    height: 150px;
    }
    #enquiry_form .img-contact{
    width: 100%;    
    margin-top: 40px;
    } 
    /* ----END OF CONTACT FORM */

    /*--Contact Us Page--*/
    #contact-us{
        background: #d6e8ff;
        padding: 0 20px;
    }
    .contact-left h4{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: #e30000;
        padding-top: 20px;
    }
    .contact-left{
        background: url(images/contact.webp);
        color: #ffffff;
    }
    .contact-left a{
        color: #ffffff;
    }
    .contact-left a:hover{
        color: red;
    }
    .contact-left td{
        padding: 20px 20px;
        font-size: 18px;
    }
    .contact-left td .fa{
        font-size: 25px;
    }
    .contact-left .fa-brands{
        font-size: 30px;
        margin-right: 20px;
        color: #ffffff;
    }
    .contact-left .social-icons{
        margin-top: 50px;
        margin-bottom: 10px;
    }/* 
    .contact-left .social-icons a{
        font-size: 30px;
        color: #ffffff;
    } */
    .contact-left .social-icons .fa:hover{
        color: red;
    }
    .contact-right iframe{
        width: 100%;
        height: 100%;
    }
    
    /*------Testimonials------*/
#testimonials {
    position: relative;
    background: #ffffff;
    height: auto;
    min-height: 85vh;
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
}

#testimonials .testimonial-heading {
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    color: #004AAD;
    padding-bottom: 40px;
}

#testimonials h4::after {
    content: '';
    background: #004AAD;
    display: block;
    height: 3px;
    width: 300px;
    margin: 10px auto 5px
}

/* #testimonials .heading b {
    color: #fff;
} */

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper .container-testimonial {
    position: relative;
    width: 350px;
    color: #fff;
    background: #004AAD;
    margin: 40px 10px;
    padding: 30px 20px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.wrapper .container-testimonial .profile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    width: 100%;
    display: block;
}

.wrapper .container-testimonial .profile .imgBox {
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
    border: 8px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.wrapper .container-testimonial .profile .imgBox img {
    position: absolute;
    height: 95px;
    width: 95px;
    top: 0;
    left: 0;
    border-radius: 20%;
    object-fit: cover;
    transition: 0.3s ease;
}

.wrapper .container-testimonial .profile h4 {
    padding: 5px 0;
    text-transform: capitalize;
    color: #fff !important; 
    letter-spacing: 1px;
    text-align: center;
    font-size: 38px;
    font-weight: 800;
}

.wrapper .container-testimonial p {
    margin-top: 90px;
    color: #fff;
    padding: 5px 8px;
    font-size: 15px;
    opacity: 0.8;
}
.wrapper .container-testimonial i{
    color: #6aa6f4;
    font-size: 26px;
}

.wrapper .container-testimonial p::after {
    content: '';
    background: white;
    display: block;
    height: 3px;
    width: auto;
    margin: 10px auto 5px
}

.container-testimonial h5 {
    padding: 5px 0;
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

/*------End of Testimonials------*/

/*--FOOTER--*/
#footer-distributed{
    background: linear-gradient(90deg, #004AAD, #5692E2);
    padding: 20px 0 0 0;
}
.footer-row{
    margin-left: 10px;
    color: #ffffff;
}
.footer-row .col-md-4{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*--FOOTER-LEFT--*/

.footer-links li{
    list-style: none;
    color: #ffffff;
    margin-top: 10px;
    line-height: 1;
}
.footer-links li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
.footer-links li a:hover{
    color: red;
}
.footer-left h5{
    padding-left: 30px;
    margin-bottom: 20px;
}
/*--FOOTER-CENTER--*/

.address-text{
    margin: 0;
    padding: 0;
    text-align: left;
}
.footer-center h5{
    margin-bottom: 20px;
}
.address-text .fa-solid{
    font-size: 24px;
    padding-top: 10px;
}
.phone-text a{
    text-decoration: none;
    color: #ffffff;
}
.phone-text a:hover{
    color: red;
}
.phone-text .fa-solid{
    font-size: 24px;
}
.mail-text a{
    text-decoration: none;
    color: #ffffff;
}
.mail-text a:hover{
    color: red;
}
.mail-text .fa-regular{
    font-size: 24px;
}
/*--FOOTER-RIGHT--*/

.footer-right h5{
    margin-bottom: 20px;
}
.footer-icons{
    text-align: left;
}
.fa-brands{
    font-size: 30px;
    margin-right: 10px;
    color: #ffffff;
} 
.fa-brands:hover{
    color: red;
}
/*--PRIVACY--*/

.privacy{
    margin-left: 40px;
    color: #ffffff;
    font-size: 12px;
}
.privacy-text a{
    text-decoration: none;
    color: #ffffff;
}
/*--End Of Main Page */

/*--College Admission Page */
#iism{
    margin-top: 40px;
}
/*--Common Header--*/
.common_banner .center{
    margin: auto;
    padding: 20px;
}
.common_banner h3, .common_banner h4, .common_banner h5{
    color: #004AAD;
    padding: 20px;
} 
.common_banner{
    background: #d3e6ff;
    padding: 20px;
}
.common_banner img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.common_banner h2 {
    /* color: #004AAD; */
    text-align: left;
    font-size: 2.8rem;
    font-weight: 700;
    padding: 20px;
    text-transform: uppercase;
}
.common_banner p{
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
    text-align: justify;
}

.table-sec{
    padding: 20px;
    background: #ffffff;
}
/*--Career Counselling Page */
.counsel_intro{
    margin: 20px;
    text-align: justify;
}
.counsel_intro h5{
    color: #004AAD;
    font-size: 28px;
}
.counsel_intro p{
    margin-top: 10px;
}
.couns_img .image2{
    width: 100%;
    border-radius: 25px;
}
.couns_img .image_txt{
    font-size: 6px;
    color: #8181816d;
}

/*--Why Counselling--*/

.why_counsel{
    background: #d8e9ff;
}
.confused .confused_img{
    margin: 30px 0px 0px 20px;
}
.confused_txt{
    text-align: justify;
}
.confused_txt h5{
    margin: 50px 20px 20px 20px;
    color: #004AAD;
    font-size: 28px;
}
.confused_txt p{
    margin: 10px 20px 20px 20px;
}
.why{
    margin-right: 20px;
}
.counsel-btn{    
    margin: 20px 20px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border-color: #004AAD;
    color: #004AAD;
}
.counsel-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}

/*--Job Assured Programs--*/

/*--Full Stack--*/
#full-stack h4, #full-stack h5, #full-stack h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
.tab-content p{
    text-align: justify;
}
.course-content h6{
    margin-top: 20px;
}

.fs-img{
    max-width: 100%;
    border-radius: 10px;
}
.fs-text{
    margin: 10px;
    text-align: left;
}
.fs-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.fs-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
#full-stack .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}

/*--End Full Stack Web Development--*/

/*--Cloud Computing--*/
#cloud-computing h4, #cloud-computing h5, #cloud-computing h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
.cc-img{
    max-width: 100%;
    border-radius: 10px;
}
.cc-text{
    margin: 10px;
    text-align: left;
}
.cc-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.cc-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
#cloud-computing .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
/*--End Cloud Computing--*/

/*--AI & machine Learning--*/
#machine-learning h4, #machine-learning h5, #machine-learning h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
.manipal{
    padding: 20px;
    background: #ffffff;
}
.aiml-img{
    max-width: 100%;
    border-radius: 10px;
}
.aiml-text{
    margin: 10px;
    text-align: left;
}
.aiml-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.aiml-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
#machine-learning .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
/*--AI & machine Learning--*/

/*--BCom Page--*/
#bcom h4, #bcom h5, #bcom h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
#bcom .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
.bcom_banner{
    background: #d3e6ff;
    padding: 0 12px 0 12px;
}
.bcom-img{
    margin: 0 1px 0 1px;
    padding-top: 30px;
}
.bcom-img img{
    width: 100%;
    border-radius: 10px;
}
.bcom-text{
    margin: 10px;
    text-align: justify;
}
.bcom-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.bcom-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
.other-description{
    margin-top: 100px;
}
.other-description li{
    font-size: 14px;
}

/*--BBA Page--*/
#bba h4, #bba h5, #bba h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
#bba .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
.bba-img{
    background: #d3e6ff;
    margin: 0 1px 0 1px;
}
.bba_banner .bba_banner_img{
    width: 100%;
    margin-bottom: 20px;
}
.bba-img h4, .bba-img h5{
    color: #004AAD;
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px;
}
.bba-img img{
    width: 100%;
    border-radius: 10px;
}
.bba-text{
    margin: 10px;
    text-align: justify;
}
.bba-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.bba-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
.other-description{
    margin-top: 100px;
}
.other-description li{
    font-size: 14px;
}
/*--BCA Page--*/
#bca h4, #bca h5, #bca h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
#bca .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
.bca_banner{
    background: #d3e6ff;
    padding: 0 12px 0 12px;
}
.bca-img{
    margin: 0 1px 0 1px;
    padding-top: 30px;
}
.bca-img img{
    width: 100%;
    border-radius: 10px;
}
.bca-text{
    margin: 10px;
    text-align: justify;
}
.bca-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.bca-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
/*-----End BCA---*/

/*--MCA Page--*/
#mca h4, #mca h5, #mca h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
#mca .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
.mca-img{
    background: #d3e6ff;
    margin: 0 1px 0 1px;
}
.mca-img h4, .mca-img h5{
    color: #004AAD;
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px;
}
.mca-img img{
    width: 100%;
    border-radius: 10px;
}
.mca-text{
    margin: 10px;
    text-align: justify;
}
.mca-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.mca-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}

/*--MBA Page--*/
#mba h4, #mba h5, #mba h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
#mba .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
.mba-img{
    background: #d3e6ff;
    margin: 0 1px 0 1px;
}
.mba-img h4, .mba-img h5{
    color: #004AAD;
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px;
}
.mba-img img{
    width: 100%;
    border-radius: 10px;
}
.mba-text{
    margin: 10px;
    text-align: justify;
}
.mba-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.mba-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
/*--End MBA Page--*/

/*--MCom Page--*/
#mcom h4, #mcom h5, #mcom h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
#mcom .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
.mcom-img{
    background: #d3e6ff;
    margin: 0 1px 0 1px;
}
.mcom-img h4, .mcom-img h5{
    color: #004AAD;
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px;
}
.mcom-img img{
    width: 100%;
    border-radius: 10px;
}
.mcom-text{
    margin: 10px;
    text-align: justify;
}
.mcom-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.mcom-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}

/*--MAJMC Page--*/
#majmc h4, #majmc h5, #majmc h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
#majmc .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
.majmc-img{
    background: #d3e6ff;
    margin: 0 1px 0 1px;
}
.majmc-img h4, .majmc-img h5{
    color: #004AAD;
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px;
}
.majmc-img img{
    width: 100%;
    border-radius: 10px;
}
.majmc-text{
    margin: 10px;
    text-align: justify;
}
.majmc-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.majmc-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
/*--FAQ Manipal--*/
#did-you-know{
    padding: 30px 6px 0 6px;
    background: #d3e6ff;
}
.did-you-know-image img{
    width: 100%;
}
#did-you-know h5{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #004AAD;
}
#did-you-know h6{
    font-size: 1.2rem;
    font-weight: 600;
    color: #004AAD;
}
.did-you-text{
    padding: 0 20px;
}
.did-you-text p{
    text-align: justify;
    margin-bottom: 30px;
}
.know-icons img{
    width:50px;
    margin: 0 0 20px 10px;
}
.know-text p{
    padding: 15px 0 0 0;
    background:#f3f3f3eb;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    border-right:4px solid;
    border-color: #004AAD;
}
.know-text{
    margin: 10px 0 40px 0;
}
.manipal-faq{
    background:#ffffff;
    padding-top: 50px;
}
.manipal-text p{
    min-height: 30vh;
    padding: 10px 15px 10px 15px;
    background:#f3f3f3eb;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    border-right:4px solid;
    border-color: #004AAD;
    line-height: 80%;
}
/*---Common---*/
.bulb{
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bulb img{
    width: 100px;
}
.bulb p{
    padding: 10px 10px 0px 0;
    font-size: 16px;
    color: #004AAD;
    font-weight: 600;
}

/*--SMU FAQ--*/
#smu-did-you-know{
    padding: 20px;
    /* padding: 30px 6px 0 6px; */
    background: #d3e6ff;
}
.did-you-know-image img{
    width: 100%;
}
#smu-did-you-know h5{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #004AAD;
}
.smu-text p{
    min-height: 30vh;
    padding: 10px 15px 10px 15px;
    background:#f3f3f3eb;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    border-left:5px solid;
    border-color: #004AAD;
    line-height: 80%;
}
.smu-faq{
    background:#ffffff;
    padding: 20px;
}
.smu-know-text p{
    padding: 15px 0 0 0;
    background:#f3f3f3eb;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    border-right:5px solid;
    border-color: #004AAD;
}
.smu-know-text{
    margin: 10px 0 40px 0;
}
/*--SMU UG--*/
#smu-ug .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
#smu-ug h4, #smu-ug h5, #smu-ug h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
.smu-ug-img{
    margin: 0 1px 0 1px;
    padding-top: 30px;
}
.smu-ug-img img{
    width: 100%;
    border-radius: 10px;
}
.smu-ug-text{
    margin: 10px;
    text-align: justify;
}
.smu-ug-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.smu-ug-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
/*--SMU UG--*/

.smu-english{
    background:#b9d7ff;
}

.ba-content .nav-tabs .nav-link:hover{
    background: #004AAD;
    color: #ffffff;
}
.smu-pol-science{
    margin: 0;
    background: #d6e8ff;
}
.smu-sociology{
    margin: 0;
    background: #b9d7ff;
}
.ps-content .nav-tabs .nav-link:hover{
    background: #004AAD;
    color: #ffffff;
}
.socio-content .nav-tabs .nav-link:hover{
    color: #ffffff;
    background: #004AAD;
}
/*--SMU MCom--*/
#mcom-smu .nav-tabs .nav-link:hover{
    color: #ffffff;
    background: #004AAD;
}
#mcom-smu .other-description{
    margin-top: 0;
    margin-bottom: 0;
}
.mcom-smu-img{
    padding-top: 20px;
}
.mcom-smu-img img{
    width: 100%;
    border-radius: 10px;
}
#mcom-smu h3, #mcom-smu h4, #mcom-smu h5{
    color: #004AAD;
}
/*--SMU MA English--*/
#smu-ma .nav-tabs .nav-link:hover{
    color: #ffffff;
    background: #004AAD;
}
#smu-ma .other-description{
    margin-top: 0;
    margin-bottom: 0;
}
.smu-ma-img{
    padding-top: 20px;
}
.smu-ma-img img{
    width: 100%;
    border-radius: 10px;
}
#smu-ma h3, #smu-ma h4, #smu-ma h5{
    color: #004AAD;
}
.smu-ma-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.smu-ma-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}

/*--SMU MCA--*/
#smu-mca .nav-tabs .nav-link:hover{
    color: #ffffff;
    background: #004AAD;
}
#smu-mca .other-description{
    margin-top: 0;
    margin-bottom: 0;
}
.mca-smu-img{
    padding-top: 20px;
}
.mca-smu-img img{
    width: 100%;
    border-radius: 10px;
}
#smu-mca h3, #smu-mca h4, #smu-mca h5{
    color: #004AAD;
}
.smu-mca-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.smu-mca-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
.footnote{
    padding-top: 40px;
}
/*--Study Abroad--*/
.abroad-top{
    background: #d3e6ff;
    padding: 20px;
}
.abroad-top h1{
    padding-top: 90px;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.abroad-top .top-image img{
    width: 100%;
    text-align: center;
}
.abroad-top p{
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
}
.abroad-top .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 25%;
    border-color: #004AAD;
    color: #004AAD;
}
.abroad-top .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
.abroad-lvl1{
    background: #ffffff;
    padding: 20px;
}
.abroad-lvl1 h3{
    color: #004AAD;
    font-weight: 700;
    padding-top: 20px;
}
.abroad-lvl1 .abroad-cards{
    margin: 10px 20px;
    background: #d3e6ff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
    padding: 30px 20px;
    border-radius: 10px;
    min-height: 30vh;
}
.abroad-lvl1 p{
    text-align: center;
}
.abroad-cards i{
    width: 100%;
    font-size: 40px;
    color: red;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
}
.abroad-cards h5{
    text-align: center;
    color: #004AAD;
    font-weight: 600;
}
.abroad-lvl2{
    background: #ffffff;
    padding: 20px;
}

.abroad-lvl2 h3{
    color: #004AAD;
    font-weight: 700;
    padding-top: 20px;
}
.abroad-lvl2 .assist-text{
    margin: 10px 20px;
    background: #d3e6ff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
    padding: 30px 20px;
    border-radius: 10px;
}
.abroad-lvl2 .assist-text h5{
    color: #004AAD;
    font-weight: 600;
}
.abroad-btn .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.abroad-btn .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
.study-destinations{
    background: #d3e6ff;
    padding: 20px 0;
}
.study-destination h5{
    color: #004AAD;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}
.country-flags{
    background: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin: 20px;
}

.study-destinations .country-flags .country-txt{
    color: #004AAD;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}
/*--Test Prep--*/
.test-prep{
    background: #d3e6ff;
    padding: 20px 10px;
}
.test-prep h3{
    font-weight: 600;
    text-decoration: underline;
    color: #004aad;
    text-align: center;
    padding-bottom: 20px;
}
.test-prep img{
    background: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
}
.test-prep-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.test-prep-text{
    padding: 20px;
    text-align: justify;
}
.test-prep .nav-tabs .nav-link:hover{
    color: #ffffff;
    background: #004AAD;
}
.test-prep .course-content .table{
    background: #d3e6ff;
}
.test-prep .tab-btn{
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.test-prep .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}
/*--IISM UG--*/
#iism-ug .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #004AAD;
    background: #d3e6ff;
}
#iism-ug h4, #iism-ug h5, #iism-ug h6{
    color: #004AAD;
    text-align: left;
    margin-bottom: 20px;
}
.iism-ug-img{
    margin: 0 1px 0 1px;
    padding-top: 30px;
}
.iism-ug-img img{
    width: 100%;
    border-radius: 10px;
}
.iism-ug-text{
    margin: 10px;
    text-align: justify;
}
.iism-ug-text .tab-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    width: 100%;
    border-color: #004AAD;
    color: #004AAD;
}
.iism-ug-text .tab-btn:hover{
    background: #004AAD;
    border:none;
    color: #ffffff;
}